
body{

    background: #2d2d2d !important;  /* fallback for old browsers */
  /*  background: -webkit-linear-gradient(to right, #434343, #000000) !important;  /* Chrome 10-25, Safari 5.1-6 */
  /*  background: linear-gradient(to right, #434343, #000000) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
footer > *{
    background-color: #013603 !important;
}

table > * {
    color: white;
}

.card a {
    color: white !important;
}
.footer-copyright{
    background-color: #292b2c !important;
}

.card li {
    background-color: #494949 !important;

}

.card {
    border: none !important;
}
.container {
    color: white !important;
}
.card > *{
    background-color: #494949 !important;

}

#start{
    min-height: 60vh;
}

.jumbotron {
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


