<!DOCTYPE html>
<html lang="PL-pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="font-small pt-4 mt-4" th:fragment="footer">

    <div class="text-center text-md-left text-light" style="background: #1E8A00">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h5 class="text-uppercase mt-3 mb-4">świat yerby</h5>
                    <p>Nasz sklep oferuje szeroką gamę Yerba Mate. Jesteśmy fanami Yerby od lat,
                        a sklep jest zwięczeniem naszych doświadczeń. Jeśli więc masz wątpliwości pisz
                        śmiało chętnie pomożemy i doradzimy.</p>
                </div>
                <div class="col-md-2 mx-auto">
                    <h5 class="text-uppercase mt-3 mb-4">Linki</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-light" href="#!">Facebook</a>
                        </li>
                        <li>
                            <a class="text-light" href="#!">Youtube</a>
                        </li>
                        <li>
                            <a class="text-light" href="#!">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 text-light" style="background: #292b2c">© 2019 Copyright: Adrian Korkus</div>
</footer>
</body>
</html>