<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
    <link rel="stylesheet" type="text/css"  th:href="@{'public/css/'+${session.theme}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:replace="navbar :: navbar">...</div>
    <div id="start" class="container my-5">
        <div class="row">
            <div class="col-lg-6"><h3>Koszyk</h3></div>
            <div class="col-lg-6 text-right">
                <a class="btn btn-outline-primary btn-sm" th:href="@{/items}">Kontynuuj zakupy</a>
            </div>
        </div>
        <table class="table table-striped" th:if="${products.empty == false}">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Cena</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}" >
                    <td ><img style="width:100px; height:100px;" th:src="@{${'public/'+product.pathToPhoto}}" alt="dfd"/></td>
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.price}+'zł'"></td>
                    <td>
                        <a th:href="@{'/cart/delete/'+${products.indexOf(product)}}">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 width="24" height="24"
                                 viewBox="0 0 210 210"
                                 style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,210v-210h210v210z" fill="none"></path><g fill="#2ecc71"><path d="M41.18652,28.81348l-12.37305,12.37305l63.81348,63.81348l-63.81348,63.81348l12.37305,12.37304l63.81348,-63.81348l63.81348,63.81348l12.37304,-12.37304l-63.81348,-63.81348l63.81348,-63.81348l-12.37304,-12.37305l-63.81348,63.81348z"></path></g></g></svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" th:if="${products.empty == false }">
            <div class="col-lg-10">
                <h4 class="text-right" th:text="${price+'zł'}"></h4>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-outline-success text-right" th:href="@{/order}" >Złóż zamówienie</a>
            </div>
        </div>
        <p class="text-center" th:unless="${products.empty == false }">Twój koszyk jest pusty.</p>
    </div>
    <div th:replace="footer :: footer">...</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>