<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Użytkownik</title>
    <link rel="stylesheet" type="text/css"  th:href="@{'/public/css/'+${session.theme}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar :: navbar">...</div>
<div id="start" class="container my-5">
    <div class="row">
        <div class="col-xl-6 ">
            <div class="col-md-12" >
                <h5>E-mail: </h5>
                <p th:text="${user.email}"></p>
                <span th:text="${user.firstName}"></span>
                <span th:text="${user.lastName}"></span>
            </div>
            <div class="ml-3 mt-3" sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{'/users/update/'+${user.id}}"  method="post">
                    <div class="row">
                        <div class="col-md-7">
                            <select name="sourceText" class="form-control form-control-sm">
                                <option value="ROLE_ADMIN">ADMIN</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <input class="btn btn-success" type="submit" value="Dodaj Role"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="col-md-10">
                <h5>Dane kontaktowe: </h5>
                <p th:if="${user.userSpecific == null}">Brak danych..</p>
                <div th:unless="${user.userSpecific == null}">
                    <p th:text="${user.userSpecific.getAddress()}"></p>
                    <span th:text="${user.userSpecific.getCity()}"></span>
                    <span th:text="${user.userSpecific.getPostcode()}"></span>
                    <p th:text="${user.userSpecific.getCountry()}"></p>
                    <p th:text="${user.userSpecific.getNumber()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer">...</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>